<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

 <!--    <p><%- include a %><p>
    <p>hello,world!</p>
    <p><%- include b %></p> -->

    <%- include header %>
    这是主页
    <%- include footer %>


  </body>
</html>
